<h1>Email confirmation</h1>

<h2><%=@result[:message]%></h2>

<p>
  If your email had been confirmed successfully, then continue with using your application,
  otherwise if some problems occurred do not hesitate to contact us by the following methods:
</p>

<p>
  Email: support@onlinepay.com
  <br/>
  Phone: +357 25 388 608
</p>

