<main>
  <h1>onlinepay.com</h1>
  <h1>Terms and Conditions</h1>

  <p>Effective: December, 1st, 2014</p>

  <p><strong>These Terms and Conditions together with Privacy Policy, Fees Schedule, and any other terms and conditions
    referred to herein constitute the entire legal relationship between User and onlinepay.com.</strong>
  </p>

  <p><strong>By registering with onlinepay.com User expressly and irrevocably agrees to follow and be bound with no
    exceptions and limitations by these Terms and Conditions. </strong>
  </p>

  <p><strong>If User is entering into relations with onlinepay.com on behalf of an entity or organization of whatever
    nature, User represents that it has the necessary authority to bind such entity or organization to these Terms and
    Conditions. </strong>
  </p>

  <p><strong>If User has no such authority, or if User does not agree to all these Terms and Condition, User shall not
    register with onlinepay.com and User shall not use onlinepay.com services under these Terms and
    Conditions. &nbsp;</strong>
  </p>

  <p><strong>
    <ins>Consumer advisory</ins>
    &nbsp;&ndash;&nbsp;onlinepay.com e-Money service is regarded as stored value facility under Singapore law. Onlinepay
    Pte. Ltd., the holder of onlinepay.com stored value facility, does not require the approval of the Monetary
    Authority of Singapore. Consumers (users) are advised to read the terms and conditions carefully.</strong>
  </p>

  <p>These Terms and Conditions are not a solicitation of onlinepay.com services and onlinepay.com is not targeting any
    country or market through these Terms and Conditions.</p>

  <h2>1. Electronic Money, Payments and other Services</h2>

  <h3>1.1. onlinepay.com offers User the following services:</h3>
  <ul>
    <li>Upload and withdraw funds to and from Account;</li>
    <li>Make purchases;</li>
    <li>Sell services and goods;</li>
    <li>Send and receive payments;</li>
    <li>Share payments and split expenses for services and goods;</li>
    <li>Browse catalogues of merchants, services and goods;</li>
    <li>Deposit funds with third party service providers for their services;</li>
    <li>Create and expand a network of friends;</li>
    <li>Communicate and socialize with friends;</li>
    <li>Publish and share information on payments with friends;</li>
    <li>Other services, including those directly not connected with payments and e-Money, available and permitted within
      Account by onlinepay.com.
    </li>
  </ul>

  <p>onlinepay.com may add, amend or withdraw services or features at any time at its absolute discretion.</p>

  <h3> 1.2. Services &ldquo;as is&rdquo;</h3>

  <p>onlinepay.com provides services &ldquo;as is&rdquo; without any warranty or guarantee, including the suitability
    and appropriateness of services for any purpose of User. Any representation, condition or warranty which might be
    implemented or incorporated into these Terms and Conditions, laws or otherwise is excluded to the fullest extent
    permitted by law.</p>

  <h3> 1.3. Services on Website and Mobile App and their availability</h3>

  <p>Services and/or certain features may differ between Website and Mobile App and from time to time. onlinepay.com is
    not obliged to provide and maintain services and/or features identically for both Website and Mobile App. Some
    services and/or certain features may not be available in some regions and/or for some Users.</p>

  <h2> 2. E-Money Accounts</h2>

  <h3> 2.1. Non-banking Account</h3>

  <p>Account is an e-Money account and is not a banking account.</p>

  <h3> 2.2. Holder of Account and owner of e-Money</h3>

  <p> Funds on Account belong to a person or entity which is registered as Account holder (User). No person or entity
    other than a holder of Account has rights to the funds held on Account, except in cases of succession. User shall
    not share Account and/or the funds deposited on it with any third party, as well as User shall not assign or
    transfer its right to Account and/or the funds on it or otherwise grant any third party any interest over Account
    and/or the funds placed on it.</p>

  <h3> 2.3. Currency of Account</h3>

  <p> 2.3.1. Account is denominated in a currency chosen by User at the time of registration of Account from the
    available currencies supported by onlinepay.com. onlinepay.com may pre-set a default currency of Account. User may
    apply for the change of Account currency by contacting customer support service desk.</p>

  <p> 2.3.2. Account may be denominated in one currency only. Account is not a multi-currency account. However, User may
    pay in other currencies subject to currency conversion. Account will be credited in the currency of Account, subject
    to currency conversion (if necessary). </p>

  <h3> 2.4. Account statement</h3>

  <p>Account statement and information on Account transactions may be provided to User electronically upon request.
    Account statement and information on Account transactions may be available by accessing Account on Website.</p>

  <h3> 2.5. Number of Accounts</h3>

  <p>Generally User may have only one Account.</p>

  <p>User may apply for two or more Accounts on reasonable and justified grounds, such as a necessity for separate
    Accounts for personal and business purposes or Accounts in different currencies.</p>

  <p>Provided User is granted rights by onlinepay.com to have several Accounts, User may access each of them only via
    separate (unique) Login details, i.e it is not permitted to have the same Login details to access two or more
    Accounts. &nbsp; &nbsp; </p>

  <h3> 2.6. Types of Account</h3>

  <p>2.6.1. User may register and open any of the following Account types:</p>
  <ul>
    <li>
      <ins>Personal Account</ins>
      &nbsp;&ndash; a basic Account type designed to meet needs of an individual. Account cannot be used for commercial
      purposes;
    </li>

    <li>
      <ins>Green Account</ins>
      &nbsp;&ndash; an upgraded Personal Account with a higher limit on a transacted amount. Account cannot be used for
      commercial purposes;
    </li>

    <li>
      <ins>Biz Account</ins>
      &nbsp;&ndash; an Account designed for business purposes or businesses irrespective of their form.
    </li>

  </ul>

  <h3> 2.7 Account limits</h3>

  <p>2.7.1. Account may be subject to upload, payment and withdrawal limits imposed from time to time at the sole
    discretion of onlinepay.com due to security reasons or legal requirements. The limits depend on the type of Account,
    User&rsquo;s country of residence/location, the verification status of Account and other factors determined at the
    sole discretion of onlinepay.com. </p>

  <p>2.7.1. The following limits represent the standard limits on the stored value on Accounts (limits are given for
    indicative purposes only and may be changed at any time at the sole discretion of onlinepay.com): </p>

  <ul>
    <li>
      <ins>Personal Account</ins>
      &nbsp;bears a limit of SGD 999.99 (EUR 550) or equivalent in other currency that can be stored on Account and used
      respectively;
    </li>
    <li>
      <ins>Green Account</ins>
      &nbsp;allows User to store and use an amount not less than SGD 1 000 (EUR 550) or equivalent in other currency
      subject to the performance by User identification and due diligence requirements of onlinepay.com;
    </li>
    <li>
      <ins>Biz Account</ins>
      &nbsp;bears a limit of SGD 999.99 (EUR 550) or equivalent in other currency that can be stored on Account and used
      respectively. However, Biz Account allows User to store and use an amount not less than SGD 1 000 (EUR 550) or
      equivalent in other currency subject to the performance by User identification and due diligence requirements of
      onlinepay.com. &nbsp;</li>
  </ul>

  <p>2.7.3. Recipient and upload of funds may also be subject to limits and that this may affect the recipient&rsquo;s
    access to the funds sent by a payer.</p>

  <h3> 2.8. Opening of Account</h3>

  <p>2.8.1. To be eligible for using onlinepay.com, User shall create and register Account by one of the following
    ways:</p>

  <ul>
    <li>Create Account with an e-mail address that User owns;</li>
    <li>Create Account with a cellular/mobile telephone number that User owns (only in case of the registration of
      Account via Mobil App installed on a User&rsquo;s telephone);

    <li>Create Account by connecting it with an account with User&rsquo;s Social Network, provided onlinpay.com supports
      Account creation and registration via a particular Social Network.

  </ul>

  <p>2.8.2. In case User is an individual, he or she must be at least 18 year old in order to open Account and use
    onlinepay.com&rsquo; services.</p>

  <p>2.8.3. User may open Account only if it is legal to do so in their country of residence/location. By opening an
    Account User represents and warrants to onlinepay.com that by the opening of Account User does not violate any laws
    or regulations applicable to User.</p>


  <h3> 2.9. Termination, suspension and closing of Account</h3>

  <p>2.9.1. Either User or onlinepay.com has the right to close Account and terminate relations at any time and for
    whatever reason.</p>

  <p>2.9.2. Normally User may close their Account and terminate relations with onlinepay.com under these Terms and
    Conditions anytime. However, User must withdraw balance of Account prior to closing Account.</p>

  <p>2.9.3. Closing of Account and termination of relations with onlinepay.com is subject to pending fees owed and other
    pending payments (if any).</p>

  <p>2.9.4. Normally onlinepay.com may close Account and terminate relations with User by notifying User at least 2
    (two) weeks in advance. Together with the notice, onlinepay.com may provide instructions on how to withdraw
    remaining funds.</p>

  <p>2.9.5. onlinepay.com may at any time suspend or terminate Account without notice if: (i) User breaches any
    conditions of these Terms and Conditions, (ii) User violates or onlinepay.com has reasons to believe that User
    violates any law or regulation that is applicable to User&rsquo;s use of onlinepay.com services, (iii) User is or
    onlinepay.com believes that User is in any way involved in any fraudulent activity, money laundering, terrorism
    financing or other criminal activity.</p>

  <p>2.9.6. onlinepay.com may suspend Account at any time if: (i) onlinepay.com reasonably believes that Account has
    been compromised or for security reason, (ii) onlinepay.com reasonably suspects that Account to have been used or is
    being used without User&rsquo;s authorization or fraudulently.</p>

  <p>2.9.7. Account cannot be closed in case of a payment investigation. Regardless Account closing onlinepay.com may
    hold User&rsquo;s funds up to 6 (six) months (or longer in case of justified reason) on Account to protect
    onlinepay.com or a third party against the risk of reversals, chargebacks, claims, fees, fines, penalties and other
    liability. </p>

  <p>2.9.8. User remains liable for all its obligations related to Account even after Account is closed. </p>


  <h2> 3. Funds</h2>

  <h3> 3.1. Segregation of User&rsquo;s funds from onlinepay.com funds</h3>

  <p>onlinepay.com keeps funds of Users on separate pooled bank accounts opened in the name of onlinepay.com and
    segregated from own funds of onlinepay.com. onlinepay.com will not use Users&rsquo;
    funds for its corporate matters and operating expenses and will not voluntarily make Users&rsquo; funds available to
    its creditors in the event of insolvency or bankruptcy. In unlikely event of the insolvency or bankruptcy of
    onlinepay.com, Users&rsquo;
    funds would be protected against claims of creditors. </p>

  <h3> 3.2. Deposit Guarantee Scheme</h3>

  <p>onlinepay.com is not a banking institution and electronic money accounts are not banking accounts and therefore
    funds on such accounts are not deposit obligations and are not protected by statutory deposit guarantee schemes (if
    any). However, onlinepay.com applies strict measures to ensure safety and liquidity of funds deposited in
    Account.</p>

  <h3> 3.3. Interest on funds</h3>

  <p>3.3.1. Funds held on Account do not earn any interest. </p>

  <p>3.3.2. onlinepay.com may receive interests or other earnings on the Users&rsquo; funds that are in possession of
    onlinepay.com. User, by registering Account, irrevocably transfers and assigns to onlinepay.com any ownership right
    on any interest and income that may accrue on the funds held in pooled accounts or in possession of onlinepay.com.
    This assignment does not grant onlinepay.com right to the principal amount of the funds on User&rsquo;s
    Account. &nbsp; </p>

  <h3> 3.4. Hold on funds and payment</h3>

  <p>onlinepay.com at its sole discretion may block/place a hold on a payment when onlinepay.com believes there may be a
    significant risk associated with the payment until risk is liquidated. </p>

  <h3> 3.5. Uploading funds to Account</h3>

  <p>3.5.1. User may upload funds to Account in accordance with the relevant upload methods and instructions available
    within Account. Notwithstanding the aforementioned, onlinepay.com shall not be responsible for the upload payment
    until the uploaded funds are received by onlinepay.com. &nbsp;</p>

  <p>3.5.2. User may be asked to complete additional activities and verification procedures that may be reasonably
    requested to ensure proper authorisation of an upload transaction. </p>

  <p>3.5.3. User shall use a payment card or other payment instrument permitted by onlinepay.com to upload funds only if
    User is the named holder of that payment card or other payment instrument.</p>

  <p>3.5.4. Uploaded funds shall be credited to Account after the funds have been received by onlinepay.com. Some upload
    transactions, such as those by credit, debit, prepaid or other payment card will be credited to Account immediately,
    but are subject to reversal in case the actual funds do not reach onlinepay.com within a reasonable time in which
    case onlinepay.com will deduct such reversed transaction from the balance of Account. If Account balance is
    insufficient, User shall upload funds to Account immediately without any notice. </p>

  <p>3.5.5. For the purpose of an upload transaction through any payment instrument, onlinepay.com is a payment
    recipient and not a payment service provider. </p>


  <h2> 4. Payments</h2>

  <p> 4.1. User can transfer funds from its Account to other Account opened with onlinepay.com to settle its payment
    obligations for the purchase of goods or services, top-up other Account of User (provided User maintains two or more
    Accounts) or make other payments subject to the User&rsquo;s eligibility for such payment service. </p>

  <p> 4.1. In some cases User may transfer funds directly through/via the site of a merchant/seller that accepts
    payments from accounts opened with onlinepay.com. </p>

  <p> 4.2. Once a payment has been authorised it cannot be withdrawn. The payment shall be considered as authorised if
    User has given its consent to the payment to be made by way of pressing payment &ldquo;Send&rdquo;
    button while Account session is open. In some cases and for security reasons onlinepay.com may ask for additional
    security details to authorize the payment. </p>

  <p> 4.3. User shall provide correct identification details of the recipient in order for onlinepay.com to identify the
    recipient and send the payment correctly. </p>

  <p> 4.4. User cannot make payments to any person or entity that does not maintain Account with onlinepay.com. </p>

  <p> 4.5. Except for the payments for services and goods of merchants, User may make a payment only to other User that
    bears a friend status to the payer (provided that the payer is eligible for such type of payments); otherwise the
    payer is advised to send the prospective payee a friend request. </p>

  <p> 4.6. User can add to its friends circle any other User that maintains Account with onlinepay.com by sending a
    friend request. In case someone does not maintain Account with onlinepay.com the friend request can be sent to the
    respective e-mail address of the prospective friend (in this case onlinepay.com will send the prospective friend an
    invitation on behalf of User with the instructions how to register with onlinepay.com). &nbsp; </p>

  <p> 4.7. If the intended recipient (payee) and its e-mail address are registered with onlinepay.com, the funds will be
    credited instantly to Account associated with its e-mail address upon the acceptance of the payment by the recipient
    by pressing &ldquo;Receive money&rdquo;
    button. Once the funds are credited to the recipient&rsquo;s account, the transaction becomes irreversible. </p>

  <p> 4.8. User may cancel the transaction at any time before the funds have been credited to the recipient&rsquo;s
    Account. </p>

  <p> 4.9. The amount of any payment received will be credited to Account subject to the effective limits and withdrawal
    of applicable fees. </p>

  <p> 4.10. User shall accept the receipt of funds on its Account before funds will be credited. By way of derogation
    and subject to onlinepay.com approval, there may be no need for a merchant to accept a payment and in such case the
    funds will be credited to Account instantly. &nbsp; &nbsp; </p>

  <p> 4.11. onlienpay.com may reverse the payment in case the payer or the payer&rsquo;s payment services provider has
    charged back or otherwise reversed the payment which was used to fund Account. </p>

  <p> 4.12. User may request a payment from other User that has Account with onlinepay.com by using &ldquo;Charge&rdquo;
    function of Account. The requested &ldquo;Charge&rdquo; payment is subject to the approval and authorization of the
    payer. </p>

  <p> 4.13. In the event of an error, onlinepay.com will make appropriate corrections by debiting or crediting User&rsquo;s
    Account. </p>

  <p> 4.14. User shall ensure that funds available on Account are sufficient to cover the payment and any applicable
    fees and currency conversion. &nbsp; &nbsp; &nbsp; </p>


  <h2> 5. Withdrawing funds</h2>

  <p> 5.1. User may withdraw any part of or all funds from its Account by transferring the funds to User&rsquo;s own
    bank account or, if such possibility is provided by onlinepay.com, other payment instrument User is the named
    holder. </p>

  <p> 5.2. Normally, subject to applicable fees, onlinepay.com executes a fund withdrawal order and initiates the
    transfer of funds upon receipt of complete and correct payment details, but not later than by the end of the next
    business day of onlinepay.com following the receipt the withdrawal order. &nbsp; </p>

  <p> 5.3. User shall provide correct and complete payment details (suitable for international transfers) to withdraw
    funds. onlinepay.com will not be liable for withdrawn funds being sent to the wrong bank account or payment
    instrument where this is due to User providing incorrect and/or incomplete payment details. </p>

  <p> 5.4. In case funds are remitted to other payment service provider (including a bank), that provider will be
    responsible for crediting the recipient&rsquo;
    account, payment card or other payment instrument and onlinepay.com shall not be liable for any failure of such
    recipient service provider. </p>

  <p> 5.5. For the purpose of a withdrawal transaction, onlinepay.com is a payer and not a payment service
    provider. </p>

  <h2> 6. Risk of reversals, chargebacks and claims, negative balance</h2>

  <p> 6.1. Upon receipt of any payment, User is liable to onlinepay.com for the full amount of the payment plus any fees
    if the payment is later invalidated for any reason. </p>

  <p> 6.2. User is not required to carry a balance in Account. However, If there are insufficient funds in Account&rsquo;
    balance to cover User&rsquo;s liability, User shall upload sufficient funds to Account immediately without any
    notice to repay the negative balance. </p>

  <p> 6.3. If onlinepay.com is unable to recover the funds from Account, onlinepay.com may take legal actions to collect
    the amount due. onlinepay.com reserves the right at any time to send User reminders or to take other debt collection
    measures including mandating a debt collection agency or lawyer or to pursue the claim to court. onlinepay.com
    reserves the right to charge User expenses onlinepay.com incurs in connection with debt collection or enforcement
    efforts. </p>

  <h2> 7. Identification, due diligence and verification</h2>

  <p> 7.1. Regardless of the way User created and registered Account, onlinepay.com may need additional information and
    documents, and User upon request of onlinepay.com shall submit certain information supported by relevant documents
    (including certified copies), including, but not limited to the full name, email address, residential, registered
    and business address, date of birth or date of incorporation or registration, passport number or registration or
    incorporation number, nationality or place of incorporation or registration, contact phone number, User&rsquo;s
    website address, User&rsquo;s representatives, directors and beneficial owners, as well as other data and
    information that may be required by onlinepay.com. </p>

  <p> 7.2. In some cases onlinepay.com may need to validate and verify identity and activities of User and apply due
    diligence measures, and this may include asking User for additional information and documents (including certified
    copies) about User, User&rsquo;s corporate and ownership structure, User&rsquo;s business and usage of Account, as
    well as requiring User to confirm its ownership to use email address, cellular/mobile phone number, payment cards,
    bank account, etc. </p>

  <p> 7.3. User shall observe relevant instructions of onlinepay.com regarding submission of information and
    documents. </p>

  <p> 7.4. User shall ensure upon registration of Account and at all other times that information and documents provided
    to onlinepay.com is true, accurate, current and complete. &nbsp; </p>

  <p> 7.5. onlinepay.com may limit, suspend or terminate Account and/or a particular transaction, if the requested
    information and documents are not provided, or if onlinepay.com determines at its sole discretion that it is
    unsatisfactory, or if it does not comply with these Terms and Conditions. </p>

  <p> 7.6. onlinepay.com is entitled to carry out any necessary money laundering, terrorism financing, fraud or other
    illegal activity checks before authorising any Account transaction. &nbsp; </p>

  <h2> 8. Fees and currency conversion</h2>

  <p> 8.1. Fees charged by onlinepay.com can be viewed at any time in the Fees Schedule available inter alia in
    Account. </p>

  <p> 8.2. Fees payable by User will be deducted from User&rsquo;s Account without any additional authorization from
    User. Fee will be charged at the time of transaction. If Account balance is insufficient to cover fees,
    onlinepay.com may refuse to execute the transaction. Reversal or chargeback fees will be deducted when
    incurred. </p>

  <p> 8.3. In case a transaction involves currency conversions, a payer shall cover currency conversion expenses. For
    every currency conversion onlinepay.com will use a retail exchange rate. The retail exchange rate is onlinepay.com
    cost of foreign currency (determined by an outside financial institution chosen by onlinepay.com) plus a currency
    conversion fee. </p>


  <h2> 9. Security and User&rsquo;s risks</h2>

  <p> 9.1. Funds on Account may be returned to a sender in case a payment is subject to a reversal, chargeback, and
    claim or otherwise invalidated. </p>

  <p> 9.2. It is the exclusive responsibility of User to understand and ensure that goods and/or services that User
    sells or buys are not breaching any applicable legislation, regulation and restriction, as well as that any
    applicable tax and duty are paid. &nbsp; </p>

  <p> 9.3. It is the exclusive responsibility of User to understand and ensure that any transfer of funds to and from
    User&rsquo;s Account initiated and/or accepted by User: (i) does not breach any applicable legislation, regulation
    and restriction, and (ii) is suitable and necessary for User. &nbsp;  </p>

  <p> 9.4. onlinepay.com does not have control nor assume liability for any goods and/or service that is
    paid/sold/delivered by using any service of onlinepay.com. </p>

  <p> 9.5. For avoidance of any doubt, onlinepay.com is a payment services provider that is not a party to any relations
    and underlying obligations between User and a third party (User&rsquo;s counterparty) even such third party
    maintains an account with onlinepay.com. &nbsp; </p>

  <p> 9.6. User is entirely and exclusively responsible for confidential and secure access to and use of Account. </p>

  <p> 9.7. User is entirely and exclusively responsible for safekeeping and non-disclosure of its username, password and
    other security details necessary to log in Account, authorize and accept payments and use any other service of
    onlinepay.com to any third party. Personnel of onlinepay.com will never ask User to provide their password and other
    security details. </p>

  <p> 9.8. User shall change their password regularly (at least every 3 months) to reduce the risk of a security breach.
    User shall not choose a password that can be guessed or established from information available about User. User
    shall not allow anyone to access Account and/or watch User accessing their Account. &nbsp; </p>

  <p> 9.9. User shall immediately notify onlinepay.com of any suspicion of loss, theft, unauthorized use of login
    details, password or other security feature or unauthorized use of Account and change password. Any delay in
    notifying onlinepay.com may result in breach of security of Account and User being liable for any losses as a
    result. </p>

  <p> 9.10. onlinepay.com is not liable for any damages and losses which User suffers or may suffer as a result of
    unauthorized (intentionally or accidentally) access to Account and/or use of any service of onlinepay.com. </p>

  <p> 9.11. onlinepay.com may suspend User access to Account or otherwise restrict functionality of Account on
    reasonable grounds relating to the security of Account or if onlinepay.com reasonably suspects that an unauthorized
    or fraudulent use of Account has occurred or any Account&rsquo;s security feature has been compromised. </p>

  <p> 9.12. User shall ensure that their e-mail is secure and accessed only by User, because the e-mail address
    registered with Account may be used by onlinepay.com to notify User on any event, including a security event in
    respect of Account, and to reset a password. </p>

  <p> 9.13. User shall ensure that log in details to Account, including the password, are not stored by the browser or
    cached or otherwise recorded or stored by a computer or mobile device User uses. </p>

  <p> 9.14. User shall not permit and allow any third party to use a mobile device on which Mobile App is installed,
    because of the risk of the third party access to Account. </p>


  <h2> 10. Complaints</h2>

  <p> 10.1. User may make a complaint about any aspect of onlinepay.com services by sending a complaint in writing
    supported by evidences (if applicable) by e-mail to <a href="mailto:support@onlinepay.com">support@onlinepay.com</a>&nbsp;or
    to the contact details of onlinepay.com available on Website or Mobile App. User is advised to clearly mark their
    communication as a complaint thus enabling onlinepay.com to distinguish a complaint from other communication and
    facilitate its prompt solution. </p>

  <p> 10.2. Onlinepay.com will endeavour to provide a resolution to complaint as prompt as possible. User shall
    cooperate with onlinepay.com in the resolution of the complaint or dispute and provide (where applicable) additional
    information and/or documents that may be necessary to resolve the complaint or dispute in an amicable way. </p>


  <h2> 11. Communication</h2>

  <p> 11.1. In case onlinepay.com contact or give a notice to User in writing, onlinepay.com will do so by e-mail or a
    registered post to the address User registered in Account. It shall be deemed that any communication and notice to
    e-mail address of User is received within 24 hours after an e-mail is sent. It shall be deemed that any
    communication or notice to the post address of User is received within 3 (three) days after the date of posting of
    any letter. onlinepay.com bears no liability for any notice not received by or delivered to User if User has not
    provided onlinepay.com with correct and complete e-mail or post address.</p>

  <p> 11.2. User may contact or give a notice to onlinepay.com in writing by e-mail to
    <a href="mailto:support@onlinepay.com">support@onlinepay.com</a>
    class="c0">&nbsp;or a registered post to the following address: Onlinepay Pte. Ltd, 105 Cecil Street No 06-01, the
    Octagon, 0069534, Singapore. User may also contact onlinepay.com by using contact details and forms available on
    Website or in Mobile App.</p>

  <p> 11.3. Communication language shall be English unless onlinepay.com supports other languages. Communication in
    other languages is for convenience only and shall not constitute an obligation on onlinepay.com to conduct any
    further communication in that language. &nbsp;</p>


  <h2> 12. These Terms and Conditions</h2>

  <h3> 12.1. Applicability of these Terms and Conditions</h3>

  <p>These Terms and Conditions govern the terms under which User may access and use onlinepay.com and services
    associated with it, including the opening, use and closure of Account.</p>

  <h3> 12.2. Current Terms and Conditions</h3>

  <p>User can always view and access the current and effective Terms and Conditions, as well as Privacy Policy, Fees schedule and any other applicable terms and conditions on Website and within App.
  </p>

  <h3> 12.3. Copy of these Terms and Conditions</h3>

  <p>User is advised to print or download and keep a copy of these and future (as it may be from time to time) Terms and
    Conditions, as well as Privacy Policy, Fees Schedule and any other applicable terms and conditions for future
    reference.</p>

  <h3> 12.4. Language of these Terms and Conditions</h3>

  <p>These Terms and Conditions may be available in multiple languages. In case of any conflict between the language
    versions, the English language version will supersede and shall prevail. </p>

  <h3> 12.5. Assignment of right and obligations</h3>

  <p>onlinepay.com may transfer its rights and obligations under these Terms and Conditions to a third party without
    prior notice to User, but this will not affect User&rsquo;s rights and obligations under these Terms and
    Conditions. </p>

  <h3> 12.6. Headings</h3>

  <p>The headings in these Terms and Conditions are for convenience only and shall not to be considered in connection
    with the interpretation or enforcement of them.</p>

  <h3> 12.7. Severability</h3>

  <p>If any provision in these Terms and Conditions is deemed to be, or becomes invalid, illegal, void or unenforceable
    under applicable laws, such provision will be deemed amended to conform to applicable laws so as to be valid and
    enforceable, or if it cannot be so amended without material altering the intention of the parties, it will be
    deleted, but the validity, legality and enforceability of the remaining provisions of these Terms and Conditions
    shall not be impaired or affected in any way.</p>

  <h3> 12.8. No waiver</h3>

  <p>No waiver of any provision of these Terms and conditions and no waiver of any rights or obligations hereunder shall
    be effective unless granted in writing. The waiver by either party of any default or breach of these Terms and
    Conditions shall not constitute a waiver of any other or subsequent default or breach.</p>

  <h3> 12.9. Force majeure</h3>

  <p>Either party shall not be liable for any delays or failure to perform its obligations under these Terms and
    Conditions due to causes beyond its reasonable control. Such delays and failures include, but are not limited to, an
    act of war, hostility, sabotage, act of God, fire, explosion, flood or other natural catastrophe, electrical,
    internet or telecommunication outage, governmental legislation, acts, orders, or regulation, strikes or labour
    difficulties, actions of acquirers; other event outside the reasonable control of a party. &nbsp;However, a
    respective party shall use its best efforts to minimize the delays or failures and take reasonable steps. </p>

  <h3> 12.10. Governing law and jurisdiction</h3>

  <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of Singapore, and shall
    be subject to the exclusive jurisdiction of the courts of Singapore.</p>

  <h3> 12.11. Changes to these Terms and Conditions</h3>

  <p> 12.11.1. onlinepay.com may amend, change and supplement these Terms and Conditions, Fees Schedule, Privacy Policy
    and any additional terms and conditions that may apply to relations between onlinepay.com and User at any time and
    at sole discretion of onlinepay.com by posting a revised version on Website and/or Mobile App. The revised version
    will be effective at the time onlinepay.com posts it.</p>

  <p> 12.11.2. However, a notice on changes may be send by e-mail to User&rsquo;s e-mail address registered with
    Account. </p>

  <p> 12.11.3. onlinepay.com shall give User a 1 (one) month&rsquo; prior notice on any substantial change to these
    Terms and Conditions. Substantial change is a change to these Terms and Conditions that reduces Users&rsquo;
    rights or increases Users&rsquo; responsibilities. </p>

  <p> 12.11.4. Changes that make these Terms and Conditions or any other applicable terms and conditions more favourable
    to User shall come into effect immediately or at any date stated by onlinepay.com. </p>

  <p> 12.11.5. Changes to fees and exchange rates shall come immediately without notice and User shall not have the
    right to object such a change. User is advised to check applicable fees before initiating any transaction.</p>

  <p> 12.11.6. In case changes are required by an applicable law or regulatory authority, onlinepay.com will notify on
    changes as soon as it is practicable for onlinepay.com and such changes may come into effect without observing 1
    (one) month&rsquo;s or any other notice period.</p>

  <p> 12.11.7. onlinepay.com may change these Terms and Conditions and any other terms and conditions applicable to
    relations with User in case of launching a new service and/or feature of an existing service. Such changes
    (including new responsibilities and liabilities of User) shall come into effect immediately or at any date stated by
    onlinepay.com. However, onlinepay.com reserves the right not to change these Terms and Conditions and any other
    applicable terms and conditions in case of launching a new service and/or feature of an existing service. </p>

  <p> 12.11.8. onlinepay.com may change these Terms and Conditions and any other terms and conditions applicable to
    relations with User immediately and without a prior notice in case of non-material changes that has no any impact on
    the rights and obligations of the parties, such as changes in contact details, visual design and construction of
    terms and conditions, correction of mistakes and errors.</p>

  <p> 12.11.9. It shall be deemed that User has agreed to and accepted changes if User did not notify onlinepay.com of
    its non-acceptance before the date when changes come into force. </p>

  <p> 12.11.10. In case User objects any change, the change will not apply to User. However, any such objection shall
    constitute a notice by User to terminate relations with onlinepay.com under these Terms and Conditions and close
    Account and in such case Account will be closed and relations terminated in accordance with the provisions stated
    herein. &nbsp; &nbsp; </p>


  <h2> 13. About us</h2>

  <p>onlinepay.com is the trading name of Onlinepay Pte. Ltd., a company incorporated and existing under the laws of
    Singapore. onlinepay.com is an independent electronic money issuer and payment service provider. All relations
    between onlinepay.com, User and any third party are as an independent contractor.</p>

  <h2> 14. Definitions</h2>

  <p><strong>Account</strong>&nbsp;means an electronic account User opens and maintains through onlinepay.com. </p>

  <p><strong>e-Money</strong>&nbsp;means monetary value (a balance) stored electronically on Account.</p>

  <p><strong>Mobile App</strong>&nbsp;means Website&rsquo;s version for mobile devices.</p>

  <p><strong>onlinepay.com</strong>&nbsp;means Onlinepay Pte. Ltd., a company incorporated and existing under the laws
    of Singapore.</p>

  <p><strong>Social Network</strong>&nbsp;means a social network (e.g. Facebook, etc.) that can be used to register and
    access Account.</p>

  <p><strong>User</strong>&nbsp;means a customer of onlinepay.com.</p>

  <p><strong>Website</strong>&nbsp;means <a href="https://www.onlinepay.com">www.onlinepay.com</a>.</p>
</main>