<main><h1>Terms &amp; conditions</h1>
  <div>
    <p>The online payments and recurring card payments&nbsp;systems are provided by the Company and its third party suppliers. The Company may need to update these terms from time to time. Any changes will be immediately effective.</p>
    <p>Please ensure you are aware of the current terms:</p>
    <ul>
      <li><a title="Terms &amp; conditions" href="#terms">Terms &amp; conditions</a> </li>
      <li><a title="Refund policy" href="#refund">Refund policy</a> </li>
      <li><a title="Cancellation policy" href="#cancellation">Cancellation policy</a> </li>
      <li><a title="Security" href="#security">Security</a> </li>
      <li><a title="Service provider" href="#service">Service provider</a> </li>
      <li><a title="Data protection" href="#data">Data protection</a> </li>
      <li><a title="Correspondence" href="#correspondence">Correspondence</a> </li>
    </ul>
    <h2><a id="terms" name="terms"></a>Terms &amp; conditions</h2>
    <p>Please read these terms carefully before using the online payment facility. By using the online payment facility in this application you accept these terms. If you do not accept these terms do not use this facility.</p>
    <h3>Definitions &amp; interpretation</h3>
    <p>The terms used in this agreement have the meanings set out below unless the context requires otherwise:</p>
    <ul>
      <li>"Card supplier" means the institution which owns the debit or credit card you are using on the Online Payment Facility </li>
      <li>"Instalment terms" means the set period and dates over which payment will be charged to the debit or credit card you are using on the Online Payment Facility </li>
      <li>"Online payment facility" means the internet based payment system operated on behalf of the Company. </li>
      <li>"Recurring card payment" means payment collections initiated by the Company to collect amounts due under the Instalment Terms. </li>
      <li>"User account" means the account operated and maintained by the Company to record the fees, charges, fines or other debts owed to it by an individual. </li>
      <li>"The Company" means OnlinePay Inc., registered address: [ADDRESS OF COMPANY's REGISTRATION]. </li>
      <li>"You" means the individual setting up a payment via the online payment facility </li>
    </ul>
    <h3>Conditions</h3>
    <p>All payments are subject to the following conditions:</p>
    <ul>
      <li>You warrant that in using the online payment facility you are authorised to use the debit or credit card for the payment or payments you are making.</li>
      <li>The Company cannot accept liability for a payment not reaching the correct user account due to you providing an incorrect account number or other incorrect details whether personal or otherwise. </li>
      <li>The Company cannot accept liability for a payment not reaching the correct user account where payment is refused or declined by the Card Supplier for any reason. </li>
      <li>If the card supplier declines payment, the Company is under no obligation to bring this fact to your attention. It is your responsibility to check with the Card Supplier that payment has been deducted from the debit or credit account. </li>
      <li>The Company will not be liable for any damages whatsoever arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials or information contained at any or all such sites, whether based on warranty, contract, tort, delict or any other legal theory and whether or not advised of the possibility of such damages. </li>
    </ul>
    <p>By accepting these terms and conditions, you authorise the Company to charge the debit or credit card account you have provided for the instalment term you have selected.</p>
    <p>Instalment terms are over six months for tuition fees or over six or ten months for accommodation dependant on the length of the contract.</p>
    <p>Instalment terms will only be available up until midnight BST on 14 October for each academic year. Any instalment terms offered beyond this are at the discretion of the Company.</p>
    <p>You agree that there will either be sufficient availability under the credit card limit or sufficient funds in the debit card account to make the recurring card payments when they fall due under the instalment terms.</p>
    <p>If a recurring card payment collection fails the Company will make a second attempt at collection five working days after the first attempt.</p>
    <p>If a second collection attempt fails the instalment terms become void and the outstanding amount will fall due for immediate payment. A £12.00 administration fee will also be applied to the user account; this fee will also be due for immediate payment.</p>
    <p>Please refer to our <a title="Fee policy" href="/legal/tariffs">Fee policy</a> for further information.</p>
    <h2><a id="refund" name="refund"></a>Refund policy</h2>
    <p>If the user leaves the Company before they complete their programme, any entitlement to a refund of tuition fees will be made in line with the Company refund policy prevailing at any time the user leaves.</p>
    <p>Such refunds only apply to the tuition fees paid in respect of the academic year in which the user leaves. For the avoidance of doubt, nothing in this policy shall require the Company to refund the fees (or part thereof) unless such fees (or part thereof) have previously been paid.</p>
    <p>Entitlement to a refund of accommodation fees will be determined in the accommodation terms and conditions to be signed by the user on acceptance of Company or Company-arranged accommodation.</p>
    <p>Refunds if applicable, can only be credited back to the debit/credit card used for the original transaction and must be within 90 days of the transaction being paid. Out with the 90 days payment will be credited back to the payers' bank account once they have supplied the account details.</p>
    <p>Payments taken in error by the Company will be refunded in the same manner and any subsequent bank charges applied by the bank will also be refunded provided documentary evidence is supplied by the payer.</p>
    <h2><a id="cancellation" name="cancellation"></a>Cancellation policy</h2>
    <p>The cancellation policy of the Company and any subsequent refunds due as a result are contained within the rules and regulations as set-out in the handbook.</p>
    <p>Cancellations will be processed upon request if received within 5 days before the next instalment due date.</p>
    <p>For further information on cancellations see the <a title="Fee policy" href="/legal/tariffs">Fee policy</a>.</p>
    <h2><a id="security" name="security"></a>Security</h2>
    <p>All payment details which are entered through this payment gateway are encrypted when the user, or payer making payment, enters them. Communications to and from the service provider’s site are encrypted.</p>
    <p>The Company shall not be liable for any failure by the user or payer making payment of fees to properly protect data from being seen on their screen by other persons or otherwise obtained by such persons, during the online payment process or in respect of any omission to provide accurate information in the course of the online payment process.</p>
    <p>Online recurring card payment is available to payers other than users providing the user ID reference and date of birth is provided to them by the user.</p>
    <p>users providing this information are authorising the payer to view their outstanding tuition and accommodation invoices.</p>
    <h2><a id="service" name="service"></a>Service provider</h2>
    <p>Online payments of fees can be made by credit or debit card. These payments are not collected by the Company directly but by the service provider.</p>
    <p>When a user makes an online immediate payment they will receive a confirmation email. If this is not received within 14 days it is the responsibility of the user to check with the Company that the payment has been accepted.</p>
    <p>No confirmation email will be sent for recurring card payments.</p>
    <h2><a id="data" name="data"></a>Data protection</h2>
    <p>In this clause the term "personal data" is as defined in the Data Protection Act 1998 (DPA).</p>
    <p>The Company will collect (or may already hold) personal data relating to the user, or payer making payment, including name, date of birth, address and user identification number of the user in accordance with its data protection policy.</p>
    <p>By agreeing to be bound by these terms and conditions the user, (and any payer making payment), accepts and consents to his/her personal data, as detailed in clause above, being provided to the service provider for sole purpose of the service provider offering and administering the online payment facility to the user, or payer making payment.</p>
    <p>It is the responsibility of the user, or payer making payment, to ensure that all personal data provided to or held by the Company and/or provided to the service provider is clear and accurate. The Company will not be responsible for any losses suffered by the user, or payer making payment, as a result of inaccurate information being provided to the Company or the service provider.</p>
    <p>The Company may use the personal information provided to it to contact the user, or payer making payment, to clarify or resolve any issues that arise in connection with any online payment made in respect of the fees.</p>
    <h2><a id="correspondence" name="correspondence"></a>Correspondence</h2>
    <p>Advance notices, receipts and failed payment notices will be sent to the payer by email.</p>
  </div>
</main>