default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:

development:
  <<: *default
  database: OnlinePay_development
test:
  <<: *default
  database: OnlinePay_test
production:
  <<: *default
  database: OnlinePay_production
