<div>
  <h1 style="text-align:left;">Policy of Tariffs</h1>

  <h2>1. Background</h2>
    <p>
  Regulations allows the Company to levy fees and other charges on users, merchant and partners for the use of its facilities and the provision of its services.
    </p>
  <h2>2. Objective</h2>
  <p>
  The underlying principles guiding the Company in its administration of all its fees, charges, fines and sanctions are that its actions should, at all times, be:
  </p>
  <ul>
   <li>clear and consistent</li>
    <li>fair and reasonable</li>
  <li>open and transparent</li>
  </ul>


  <h2>3. Definitions</h2>
  <p>
  The terms fees, charges and fines are defined for the purposes of this policy below.
  </p>

  <h3>Fees</h3>
  <p>
  Various sums which are levied in respect of the services of the Company. These fees include:
    <ul>
    <li>payment fee for personal money transfers,</li>
    <li>merchant fee for money transfers from personal to merchant accounts,</li>
    <li>fee for funds withdraw,</li>
    <li>fee for cash in.</li>
    </ul>
  </p>
  <h3>Table of fees.</h3>
  <p>
  <style>
     td, th {padding:5px;border: 1px solid gray;text-align: left;}

  </style>
  <table with="100%">
    <tr>
       <td><b>Onlinepay Inc. Fees</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Personal & Green accounts</td>
      <td>Merchant & Partner accounts</td>
    </tr>

    <tr>
      <th>Cash in operations</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Credit and Debit cards</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Withdraw funds</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Bank accounts</td>
      <td>1.9+35(EUR)</td>
      <td>35(EUR)</td>
    </tr>
    <tr>
      <th>Money transfer (per transaction)</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>From wallet to wallet</td>
      <td>1.9%</td>
      <td>3%</td>
    </tr>
  </table>
  </p>
</div>