<div>
  <h1 style="text-align:center;">Privacy Policy of onlinepay.com</h1>

  <p>Effective: December, 1st, 2014</p>

  <p>This Privacy Policy applies to all services provided by onlinepay.com (hereinafter also referred to as “we” and
    “us”), the website <a href="http://www.onlinepay.com">www.onlinepay.com</a> and mobile version of the website
    (hereinafter referred to as “Website” and “Mobile Application” respectively and collectively as “System”), and
    describes how we collect and process information obtained from users (hereinafter also referred to as “User” and
    “you”) when you contact onlinepay.com, use our services and System.</p>

  <p>This Privacy Policy describes the practices we adopt regarding collecting, processing, storing, protecting and
    using personal data submitted by Users. We are committed to protecting the interests of our users and providing safe
    and secure service.</p>

  <p>The data you provide to System will be collected, processed, stored, and used in accordance with this Privacy
    Policy. By registering an account with onlinepay.com, using Website and/or Mobile Application you expressly consent
    to follow and be bound with no exceptions and limitations by all terms and conditions of this Privacy Policy.</p>

  <p><strong>Please read this Privacy Policy carefully before using System and any service of onlinepay.com. If you do
    not agree with any terms of this Privacy Policy or do not consent to provide data and information, including
    personal, do not use System and any service of onlinepay.com.</strong></p>


  <h2>Information we collect</h2>

  <p>
    <ins>Personal identification information</ins>
    (such as name and surname, date of birth and registration number, nationality, address, phone number, e-mail
    address, security questions and answers, and any other proof of your identity) may be collected from you through (i)
    registration with our services, (ii) usage of System, (iii) phone, e-mail and online communication with us, (iv) any
    other way you interact with us. User may visit Website anonymously. Personal identification information will only be
    collected if User provides it. You may refuse to submit personal identification data; however, this may limit
    services available to you.
  </p>

  <p>
    <ins>Non-personal identification information:</ins>
  </p>
  <p>Whenever you use System, we will collect the details of your transactions and requests. We may also collect your IP
    address, traffic data, services and functionality you use on Website and Mobile Application, location data, weblogs,
    other communication data and details of your visits to System, information from and about a computer or mobile
    device you use to access System. We may collect and process information from your mobile device and computer
    whenever you interact with Mobile Application and Website respectively.</p>

  <p>In order to prevent fraud and fulfill our legal obligations, we may obtain additional information about Users from
    third parties including third party verification services. We may collect information from fraud prevention and
    credit reference agencies, use authorization and fraud screening services to minimize financial and security
    risks.</p>

  <ins>Cookie</ins>
  <p>We use data storing technologies like cookies in order to promote, protect and improve our services and provide
    Users with better experience. We will collect information from your computer whenever you interact with our Website
    tracking and storing your preferences.</p>

  <p>Users are free to manage, disable and restrict cookies on their browsers; however, is that case some of our
    services and features may not be available.</p>

  <ins>Communication</ins>
  <p>Whenever you contact us we may process and store records of communication and correspondence. We may ask you to
    submit information when you require further services, make a complaint or client support enquiry or report problems.
    We may record and retain any voice communication with Users, including phone, online and skype conversations or any
    other means of communication.</p>

  <ins>Users’ accounts</ins>
  <p>We may collect, process and associate with Users’ accounts personal information and contact details. We may also
    ask you to complete surveys and questionnaires for research purposes, and process your responses. However, you do
    not have to respond to such surveys.</p>

  <p>When you carry out transactions through Website, Mobile Application and use our services, we may collect and
    process information related to your payments and transactions with us and/or our partners.</p>


  <h2>How we use collected information</h2>

  <p>Ensuring safe, secure and efficient services is a priority for us. We collect data in order to:
  <ul>
    <li>Provide services to Users and fulfil their requests.</li>
    <li>Personalize and improve users’ experience.</li>
    <li>Settle disputes and solve problems.</li>
    <li>Comply with our legal obligations.</li>
    <li>Detect and prevent forbidden activities, fraud, and policy violations.</li>
    <li>Notify you about updates, changes, service alerts and announcements and provide other information related to
      your use of System and our services.
    </li>
  </ul>
  </p>

  <h2>Disclosure of your personal information</h2>

  <p>We will not sell, trade, or rent your personal information to third parties for their marketing purposes. However,
    in order to provide our services and comply with our legal obligations we will exchange some information with third
    parties under limited circumstances.</p>

  <h2>Other websites</h2>

  <p>System may contain links that will refer you to the websites of our partners and affiliates that may have their own
    privacy policies and terms and conditions for which we are not responsible. Whenever you follow these links you
    accept responsibility for submitting any personal information to these websites.</p>

  <h2>Where we use information</h2>

  <p>In order to offer our services we may collect, process and store information in locations around the world.
    Information may be stored locally on the computer or other devices you use to access Website and Mobile
    Application.</p>

  <h2>Protection of Information</h2>

  <p>We are dedicated to keep your information secure. We ensure information safety through the use of data encryption
    and firewalls and limiting access to your personal information only to our employees who need to know such
    information for the performance of their duties (note your password or any of your payment cards CVV numbers are not
    known by any staff and will never be asked) you should never disclose this information.</p>

  <p>We implement appropriate data collection, processing and storage procedures and safety measures against
    unauthorized access, alteration, disclosure, and loss of data stored on System.</p>

  <p>Sensitive and private data exchange between System and you happens over a SSL secured communication channel and is
    encrypted and protected with digital signatures. Our System utilized anti-virus software and technologies.</p>

  <h2>Transmission of information</h2>

  <p>Although we maintain high standards of information security, any transmission of information online is not
    completely secure. By using System you accept inherent security implications of using the internet and will not hold
    us responsible for any breach of security.</p>

  <h2>Limitation of liability</h2>

  <p>We are committed to protect your privacy and ensuring security of your information. However, should any performance
    error occur in our services and have an effect on privacy of your information, we shall not be liable in any manner
    whatsoever in damages or otherwise.</p>

  <p>It is your responsibility to prevent and not to allow access of any third party to your personal account, keep your
    username, password and other security details confidential and alert us whenever security of your account with us
    has been compromised.</p>

  <h2>Retention of information</h2>

  <p>We will process and store the information you submit to System as long as we need it to provide services. You are
    free to access and change information you have provided as well as close your account with us. However, System will
    retain and process your information as long as it is needed in order to comply with our legal obligations and
    protect our interests.</p>

  <p>We are responsible for ensuring that our System and services comply with this Privacy Policy. We will take all
    reasonable steps to ensure that any information we collect from you is accurate. You may exercise your right to
    access and update your information and may ask us to make any changes to ensure accuracy of your personal
    information.</p>

  <h2>Changes to Privacy Policy</h2>

  <p>We may change this Privacy Policy from time to time at our sole discretion without notifying you and by posting the
    revised policy on System. Any changes to our policy will become effective upon posting of the revised policy. We
    encourage you check System regularly to stay informed about our effective policy on privacy matters.</p>

  <h2>Contact us</h2>

  <p>If you have any questions about this Privacy Policy and our relevant practices, please contact us via a contact
    form available on System or email us at <a href="mailto:support@onlinepay.com">support@onlinepay.com</a>.</p>
</div>